# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Supabase
DATABASE_URL="postgresql://YOUR_DATABASE_USER:YOUR_DATABASE_PASSWORD@YOUR_SUPABASE_PROJECT_ID.supabase.co:5432/postgres"
DATABASE_POOL_URL="postgresql://YOUR_DATABASE_USER.YOUR_SUPABASE_PROJECT_ID:YOUR_DATABASE_PASSWORD@aws-0-us-east-1.pooler.supabase.com:6543/postgres"
NEXT_PUBLIC_SUPABASE_URL="https://YOUR_SUPABASE_PROJECT_ID.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="YOUR_SUPABASE_ANON_KEY"
SUPABASE_SERVICE_ROLE_KEY="YOUR_SUPABASE_SERVICE_ROLE_KEY"

# Stripe Configuration
# Get these from https://dashboard.stripe.com/apikeys
STRIPE_SECRET_KEY="YOUR_STRIPE_SECRET_KEY"
# Replace this with your actual test publishable key from https://dashboard.stripe.com/apikeys
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="YOUR_STRIPE_PUBLISHABLE_KEY"
# Get this from https://dashboard.stripe.com/webhooks after creating a webhook endpoint
STRIPE_WEBHOOK_SECRET="YOUR_STRIPE_WEBHOOK_SECRET"

# Your application URL (use http://localhost:3000 for local development)
NEXT_PUBLIC_APP_URL="YOUR_APP_URL"

# Logging Configuration
# Set to DEBUG for development, INFO for production
NEXT_PUBLIC_LOG_LEVEL="YOUR_LOG_LEVEL"

# Product price IDs
NEXT_PUBLIC_STRIPE_YEARLY_PRICE_ID="YOUR_STRIPE_YEARLY_PRICE_ID"
NEXT_PUBLIC_STRIPE_MONTHLY_PRICE_ID="YOUR_STRIPE_MONTHLY_PRICE_ID"

# Google Maps API Key
GOOGLE_MAPS_API_KEY="YOUR_GOOGLE_MAPS_API_KEY"
NEXT_PUBLIC_MAP_PROVIDER="YOUR_MAP_PROVIDER"
#NEXT_PUBLIC_MAP_PROVIDER="openstreetmap"

# Auth
NEXTAUTH_URL="YOUR_NEXTAUTH_URL"
NEXTAUTH_SECRET="YOUR_NEXTAUTH_SECRET"

# Email
EMAIL_SERVER_HOST="YOUR_EMAIL_SERVER_HOST"
EMAIL_SERVER_PORT=YOUR_EMAIL_SERVER_PORT
EMAIL_SERVER_USER="YOUR_EMAIL_SERVER_USER"
EMAIL_SERVER_PASSWORD="YOUR_EMAIL_SERVER_PASSWORD"
EMAIL_FROM="YOUR_EMAIL_FROM"